# Jahu's notes and workfiles
**/*.jgw
**/*.jgw.sh
# vim temporary files
**/*.swp
# python temporary files
**/__pycache__
# generated data files
fbpetj/event_*.json
fbpetj/page_*.json
fbpetj/group_*.json
